.lab-row {
	display: block;
}

.lab-row div {
	display: inline-block;	
}

.lab-row .lab-label {
	margin-right: 20px;
}

.faculty-holder {
	display: flex;	
	flex-wrap: wrap;
}

.faculty-holder h2 {
	font-size: 1.2em;
	margin: 10px 0 0 0;
	padding: 0;
}

.faculty-bio-image {
	width: 200px;
  	height: 200px;
  	object-fit: cover;
}

.the-faculty {
	padding: 15px;
	margin: 5px;
	width: 220px;
	border: 1px solid #efefef;
}

.lab-title {
	font-size: .8em;
}